#header{
    background: white;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}
#site-logo{
    max-height: 50px;
    width: auto;
    
    @include breakpoint(medium) {
        padding: 10px;
        max-height: 80px;    
    }
}
.site-description{
    display: none;
    position: relative;
    top: 10px;
    color: #e0e0e0;
    font-size: rem-calc(40);
    font-weight: bold;
    line-height: 1;
    @include breakpoint(medium){
        display: block;
    }
}

